body, html
{
   display: flex;
   /* flex-grow: 1; */
   flex-direction: column;
   /* width: 100%;
   height: 100%; */
   margin: 0;
   padding: 0;
   font-size: 16px;
   font-family: helvetica, arial;
   background: #f9f9f9;
   color: #111;
}

.header
{
   text-align: center;
   border: 2px solid red;
}
.wrapper
{
   /* width: 100%; */
   flex-grow: 1;
}
 
.main
{
   text-align: center;
}
 
.quiz-frame
{
   border: 0;
   box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
 
.quiz_head
{
   font-size: 20pt;
   margin: 10px;
   margin-bottom: 50px;
   border: 2px solid red;
}
 
.head_content
{
   padding: 5px;
}
 
.quiz_body
{
   margin: 10px;
   border: 2px solid red;
}
 
.quiz_footer
{
   margin: auto;
}
 
.footer_content
{
   padding: 5px;
   margin: 50px;
   border: 2px solid blue;
}
 
.button
{
   display: flex;
   flex-grow: 1;
   justify-content: center;
   border: 0;
   border-radius: 10px;
   background: #2c44dd;
   color: #fff;
   padding: 10px 25px;
   width: 100%;
   font-size: 15pt;
   /* display: block; */
   margin: 2px auto;
   cursor: pointer;
}
 
.button_wrong
{
   background: #e62f2f;
}
 
.button_correct
{
   background: #4fdf7f;
}
 
.button_passive
{
   background: #8b8b8b;
}

footer
{
   border: 2px solid red;
   padding: 5px;
}